<nav>
  <ul>
    <li>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </li>
    <li><i class="fas fa-home"></i> <a href="#">Inicio</a></li>
    <li><i class="fas fa-hashtag"></i> <a href="#">Explorar</a></li>
    <li><i class="far fa-bell"></i> <a href="">Notificaciones</a></li>
    <li><i class="far fa-envelope"></i> <a href="#">Mensajes</a></li>
    <li><i class="far fa-bookmark"></i> <a href="#">Guardados</a></li>
    <li><i class="far fa-list-alt"></i> <a href="#">Listas</a></li>
    <li><i class="far fa-user"></i> <a href="#">Perfil</a></li>
    <li>
      <i class="fas fa-angle-double-right"></i><a href="#">Más opciones</a>
    </li>
  </ul>
  <div id="buttonHome">
    <a class="btn btn-primary" href="#">Twittear</a>
  </div>
</nav>
