<div id="inicio">
  <h1>Inicio</h1>
</div>

<% if (user) { %>

<div id="QueEstasPensando">
  <div class="row">
    <div class="col-lg-2">
      <img
        src="<%- user.image %>"
        alt="<%- user.firstname %> <%- user.lastname %>"
      />
    </div>
    <div class="col-lg-10">
      <div>
        <input
          class="form-control"
          type="text"
          placeholder="Qué estás pensando?"
          name="tweet"
          id="tweet"
        />
        <p>Cualquier persona puede responder</p>
        <hr />
        <div class="d-flex justify-content-around">
          <i class="far fa-image"></i>
          <i class="fas fa-gift"></i>
          <i class="fas fa-question"></i>
          <i class="fas fa-smile-beam"></i>
          <i class="fas fa-calendar-times"></i>
          <input class="btn btn-primary" type="button" value="Twittear" />
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>

<% } %>
<!---->
<%- include("singleTweet") %>
